* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px solid black;
  margin: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  gap: 4vw;
  /* yatay varsayılan */
  /* dikey flex-direction */
}

.eleman-1,
.eleman-2,
.eleman-3,
.eleman-4 {
  border: 2px solid brown;
  background: violet;
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.eleman-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 4vw;
}

/* .eleman-4 {
  align-self: flex-start;
} */

/* 0 1 2 3 */
